# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Node
node_modules/
.next/
.env.local

# General
.DS_Store
*.log

#IDEA
.idea/

uploads/

test_extraction.py
test-invoice.png

test_signing.py
test_invoice.html
test_output.pdf
test_signed.pdf

signed/